<div class="navbar-lewagon navbar-fixed-top">
  <%= link_to root_path, class: "navbar-brand d-flex" do %>
    <i id="logo" class="fas fa-cocktail fa-2x"></i>
    <% end %>
    <a class="navbar-brand" href=""></a>
</div>
<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-6">
        <h1 style="color: #fb9616;"><strong><%= @cocktail.name %></strong></h1>
       <% if @cocktail.photo.attached? %>
              <div class="card-cocktail-show" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path @cocktail.photo.key %>)">
          <% else %>
              <div class="card-cocktail-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/sex_on.jpg)">
          <% end %>
            <div class="card-description">
              <h6><%= @cocktail.content %></h6>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="ingredient-card">
              <h2>Ingredients:</h2>
              <hr>
              <div class="row">
                <% @cocktail.doses.each do |dose| %>
                <div class="col-3 card ingredient">
                  <div class="card-body ingredient">
                    <h4 class="card-title ingredient"><%= dose.ingredient.name %></h4>
                    <p class="card-subtitle mb-2 text-muted ingredient"><%= dose.description %></p>
                    <!-- <p class="card-text ingredient">Description</p> -->
                    <%= link_to dose_path(dose),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %><i class="far fa-trash-alt fa-1x"></i>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
              <hr>
              <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
              <%= link_to 'Back', url_for(:back), class: "btn btn-outline-warning" %>
            </div>
            <br>
            <div>
              <h2>Ratings</h2>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
