<div class="navbar-lewagon navbar-fixed-top">
  <%= link_to root_path, class: "navbar-brand d-flex" do %>
    <i id="logo" class="fas fa-cocktail fa-2x"></i>
    <% end %>
    <a class="navbar-brand" href=""></a>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mt-5">
      <h2>Add a new dose for</h2>
        <h1><%= @cocktail.name %></h1>
          <%= simple_form_for [ @cocktail, @dose ] do |f| %>
            <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Pick one" %>
            <%= f.input :description, placeholder: "Quantity ingredient" %>
            <%= f.submit "Add dose", class: "btn btn-warning" %>
          <% end %>
    </div>
  </div>
  <br>
  <%= link_to 'Back', url_for(:back), class: "btn btn-outline-warning" %>
</div>


